@using AttendanceKeeping.Models
@model AttendanceKeeping.Models.RosterAttendance

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RosterAttendance</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ClassRosterId, "ClassRoster")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ClassRosterId", String.Empty)
            @Html.ValidationMessageFor(model => model.ClassRosterId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ClassDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ClassDate)
            @Html.ValidationMessageFor(model => model.ClassDate)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
