@model IEnumerable<AttendanceKeeping.Models.Person>
@{
    ViewBag.Title = "People";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="person-list">
    @foreach (var person in Model)
    {
        <div data-role="collapsible">
            <h3>@person.LastName, @person.FirstName</h3>
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <table>
                        <tr>
                            <th>Birth:
                            </th>
                            <td>@person.BirthDate.ToShortDateString()</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>@person.Email</td>
                        </tr>
                        <tr>
                            <td rowspan="2"><a data-inline="true" data-role="button" data-theme="b" href="@Url.Action("Edit", "Person", new { id = person.PersonId })">
                                Edit</a></td>
                            <td><a data-inline="true" data-role="button" data-theme="b" href="@Url.Action("Delete", "Person", new { id = person.PersonId })">
                                Delete</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    }
</div>
